li{

  margin-left: 70px;
}

.cards img{
  width:180px;
  height:180px;
 
}

.decrease{
  width:2%;
  

}
.increase{
  width:2%;
  
}
.Trash{
  width:2%;
  
}
.operations{
  margin:1%;
  
}
.operations img{
  margin-left:1%;
  width:20px;

}
.itemName{
  margin-left:2%;
  display: block;
}
.price{
  margin-left:2%;
  display: block;
}
.cards-full{
 display: flex;
 

}
.cards-items{
  
  margin: 2%;
  
}

.cards{
  display: flex;  
  flex: 0 0 auto;         /* ADD */
            /* ADD */
    flex-direction: row;
}





main .cards-full{
  display: block;
}

.cart-item {
  display: inline-flex;
  margin: 20px 10px;
}
.cart-item .right-block {
  padding: 0 20px;
}
.cart-item-actions {
  margin-top: 20px;
}
.action-icons {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.action-icons:hover {
  cursor: pointer;
}
.cart {
  display: flex;
  flex-direction: column;
}
.navbar{
  background-color: rgb(168, 168, 231);
  color:white;
}
.navbarr a{
  color:yellow;
}
.sr-only{
  
  background-color: yellow;
margin-top: -8%;
font-size:1.1rem;
border-radius: 40%;
color:red;
}
.cartimg{
  width:10%;

}
.total{
  width:100%;
  background-color: beige;
  padding-left: 19%;
  
}